{% extends 'sonata_preview.html.twig' %}
{% set trans_default_domain = "key_item" %}
{% trans_default_domain 'key_item' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div id="object">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <img class="preview_main_picture" src="{{ object.picture }}" alt="{{ object.name }}">
                    <h1>{{ object.name }}</h1>
                </div>
            </div>
            <div class="row left">
                <h2>{{ the_title('description')|raw() }}</h2>
                {{ object.description|maybe_null|markdown }}
            </div>
            <div class="row left">
                <h2>{{ the_title('history')|raw() }}</h2>
                {{ object.history|maybe_null|markdown }}
            </div>
            <div class="row left">
                <h2>{{ the_title('notes')|raw() }}</h2>
                {{ object.generalNotes|maybe_null|markdown }}
            </div>
            <div class="row left">
                {{ the_scenes('scenes')|raw() }}
            </div>
    </div>
{% endblock %}
