{% extends 'sonata_preview.html.twig' %}
{% set trans_default_domain = "location" %}
{% trans_default_domain 'location' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div id="object">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <h1>{{ object.name }}</h1>
                </div>
            </div>
            <div class="row left">
                <h2>{{ the_title('description')|raw() }}</h2>
                {{ object.description|maybe_null|markdown }}
            </div>
            <div class="row left">
                <h2>{{ the_title('history')|raw() }}</h2>
                {{ object.history|maybe_null|markdown }}
            </div>
            <div class="row left">
                <h2>{{ the_title('notes')|raw() }}</h2>
                {{ object.generalNotes|maybe_null|markdown }}
            </div>
            <div class="row left">
                <h2>{{ the_title('relations')|raw() }}</h2>
            </div>
            <div class="row left">
                <h3>{{ 'title.parent'|trans() }}</h3>
                {{ the_parent(object)|raw() }}
            </div>
            <div class="row left">
                <h3>{{ 'title.children'|trans() }}</h3>
                {{ the_children(object)|raw() }}
            </div>
            <div class="row left">
                <h2>{{ the_title('scenes')|raw() }}</h2>
                {{ the_scenes(object)|raw() }}
            </div>
        </div>
    </div>
{% endblock %}
