{% extends 'sonata_preview.html.twig' %}
{% trans_default_domain 'scene' %}

{% block title %}{{ the_scene_name(object)|raw() }}{% endblock %}

{% block content %}
<pre><code class="markdown">
# {{ the_scene_name(object)|raw() }}

**{{ 'text.project'|trans()|capitalize() }}**: {{ the_project(object.chapter.project)|raw() }}</li>

## {{ 'title.description'|trans() }}

{{ object.description|maybe_null }}

## {{ 'title.notes'|trans() }}

{{ object.notes|maybe_null }}

### {{ 'title.characters'|trans() }}

{{ the_characters(object, 'markdown') }}

## {{ 'title.key_items'|trans() }}

{{ the_key_items(object, 'markdown') }}
</code></pre>
{% endblock %}
