{% extends 'sonata_preview.html.twig' %}
{% set trans_default_domain = "character" %}
{% trans_default_domain 'character' %}

{% block title %}{{ object.nickname }}{% endblock %}

{% block content %}

<div id="object">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <img class="preview_main_picture" src="{{ object.picture }}" alt="{{ object.nickname }}">
                <h1>{{ object.nickname }}</h1>
                <p>
                    <b>{{ object.fullName }}</b> (<i>{{ birth_data() }}{{ death_data() }}</i>) {{ 'text.is_a_object'|trans() }} <b>{{ object.characterType.name }}
                    </b> {{ 'text.conceptualized_as'|trans() }} <b>{{ object.concept }}</b>.<br />
                    {{ object.nickname }}, {{ age_data() }}, {{ gender_data() }}, {{ object.sexuality }} {{ 'text.is_zodiac_sign'|trans() }} {{ object.zodiacSign }}.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row left">
        <h2>{{ the_title('inherited_characteristics')|raw() }}</h2>
    </div>
    <div class="row left">
        <p><b>{{ 'title.eyes'|trans() }}</b>: {{ object.eyes|maybe_null }}</p>
        <p><b>{{ 'title.skin'|trans() }}</b>: {{ object.skin|maybe_null }}</p>
        <p><b>{{ 'title.eyehairs'|trans() }}</b>: {{ object.hair|maybe_null }}</p>
        <p><b>{{ 'title.odor'|trans() }}</b>: {{ object.odor|maybe_null }}</p>
        <p><b>{{ 'title.body_type'|trans() }}</b>: {{ object.bodyType|maybe_null }}</p>
        <p><b>{{ 'title.height'|trans() }}</b>: {{ object.height|maybe_null }}</p>
    </div>
    <div class="row left">
        <h3>{{ 'title.distinctive_marks'|trans() }}</h3>
        {{ object.distinguishingMarks|maybe_null|markdown }}
    </div>
    <div class="row left">
        <h3>{{ 'title.health_problems'|trans() }}</h3>
        {{ object.healthProblems|maybe_null|markdown }}
    </div>
    <div class="row left">
        <h3>{{ 'title.speech_patterns'|trans() }}</h3>
        {{ object.speechPattern|maybe_null|markdown }}
    </div>
    <div class="row left">
        <h3>{{ 'title.notes'|trans() }}</h3>
        {{ object.generalNotes|maybe_null|markdown }}
    </div>

    <div class="row left">
        <h2>{{ the_title('lifestyle')|raw() }}</h2>
    </div>
    <div class="row left">
        <p>
            {{ object.nickname }} {{ 'text.lives_in'|trans() }} {{ home_data() }}, {{ occupation_data() }}.
            &nbsp;{{ 'text.earns'|trans()|capitalize  }} {{ object.income|maybe_null() }}
        </p>
    </div>
    <div class="row left">
        <h3>{{ 'title.lifestyle'|trans() }}</h3>
        {{ object.dressStyle|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.hobbies'|trans() }}</h3>
        {{ object.hobbies|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.healthy_habits'|trans() }}</h3>
        {{ object.goodHabits|maybe_null() |markdown()}}
    </div>
    <div class="row left">
        <h3>{{ 'title.bad_habits'|trans() }}</h3>
        {{ object.badHabits|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.music_preferences'|trans() }}</h3>
        {{ object.favoriteMusic|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.sports_preferences'|trans() }}</h3>
        {{ object.favoriteSports|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.gastronomic_preferences'|trans() }}</h3>
        {{ object.favoriteFood|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h2>{{ the_title('intellectual_characteristics')|raw() }}</h2>
    </div>
    <div class="row left">
        <p class="mb-4">{{ 'title.lifestyle'|trans() }}
            {{ object.nickname }} {{ 'text.has_a'|trans() }} {{ object.iqLevel|maybe_null }} {{ 'text.and'|trans()|capitalize  }}
            &nbsp;{{ 'text.is'|trans()|capitalize  }} {{ object.educationalLevel|maybe_null }}.
        </p>
    </div>
    <div class="row left">
        <h3>{{ 'title.skills'|trans() }}</h3>
        {{ object.skills|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.vision_of_self'|trans() }}</h3>
        {{ object.selfView|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h2>{{ the_title('emotional_characteristics')|raw() }}</h2>
    </div>
    <div class="row left">
        <p class="mb-4">
            {{ object.nickname }} {{ temperament_data() }}.
        </p>
    </div>
    <div class="row left">
        <h3>{{ 'title.personality'|trans() }}</h3>
        {{ object.personality|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.traumas'|trans() }}</h3>
        {{ object.emotionalTraumas|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.what_motivates_you'|trans() }}</h3>
        {{ object.whatMotivates|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.what_makes_you_happy'|trans() }}</h3>
        {{ object.whatMakesHappy|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.what_are_you_afraid'|trans() }}</h3>
        {{ object.whatFrightens|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.what_would_change_in_your_life'|trans() }}</h3>
        {{ object.whatWouldChange|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.your_biggest_secret'|trans() }}</h3>
        {{ object.deepestSecret|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h2>{{ the_title('beliefs_and_spirituality')|raw() }}</h2>
    </div>
    <div class="row left">
        {{ object.nickname }} {{spiritual_data() }}.
    </div>
    <div class="row left">
        <h3>{{ 'title.religious_beliefs'|trans() }}</h3>
        {{ object.spiritualBeliefs|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.how_do_your_beliefs_affect_your_life'|trans() }}</h3>
        {{ object.spiritualEffectsInLife|maybe_null()|markdown() }}
    </div>

    <div class="row left">
        <h2>{{ the_title('family_relationships')|raw() }}</h2>
    </div>
    <div class="row left">
        <h3>{{ 'title.parents'|trans() }}</h3>
        {{ object.parents|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.siblings'|trans() }}</h3>
        {{ object.siblings|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.children'|trans() }}</h3>
        {{ object.children|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.spouses_and_exes'|trans() }}</h3>
        {{ object.spouse|maybe_null()|markdown() }}
    </div>
    <div class="row left">
    <h3>{{ 'title.friends'|trans() }}</h3>
        {{ object.friends|maybe_null()|markdown() }}
        </div>
    <div class="row left">
        <h3>{{ 'title.enemies'|trans() }}</h3>
        {{ object.enemies|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h3>{{ 'title.other_important_relationships'|trans() }}</h3>
        {{ object.significantOthers|maybe_null()|markdown() }}
    </div>
    <div class="row left">
        <h2>{{ the_title('personal_history')|raw() }}</h2>
    </div>
    <div class="row left">
        {{ object.personalHistory|maybe_null()|markdown() }}
    </div>
</div>
{% endblock %}
