{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}

{% block side_bar_after_nav %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link   rel="stylesheet"
            href="/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link   rel = "stylesheet"
            type = "text/css"
            href = "/static/css/sonata.css" />
    <link   rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous" />
    <link   rel = "stylesheet"
            type = "text/css"
            href = "/vendor/components-font-awesome/css/font-awesome.css" />
    <link   rel = "stylesheet"
            type = "text/css"
            href = "/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
    <link   rel = "stylesheet"
            type = "text/css"
            href = "/vendor/flag-icon-css/css/flag-icon.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?11.0"></script>
    <script type="text/javascript"
            src="/bundles/sonatacore/vendor/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript"
            src="/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="/vendor/markdown/lib/markdown.js"></script>
    <script type="text/javascript"
            src="/vendor/marked/lib/marked.js"></script>
    <script type="text/javascript"
            src="/vendor/turndown/turndown.js"></script>
    <script type="text/javascript"
            src="/vendor/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script type="text/javascript"
            src="/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
{% endblock %}

{% block meta_tags %}
    {{ parent() }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block body_attributes -%}
    class="sonata-bc skin-blue-light fixed
    {% if app.request.cookies.get('sonata_sidebar_hide') -%}
        sidebar-collapse
    {%- endif -%}"
{%- endblock -%}

{% block sonata_admin_content %}
    {{ parent() }}
    {% block javascripts_end %}
    {% endblock %}
{% endblock %}

{% block sonata_nav %}
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
            role="button" title="{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}">
            <span class="sr-only">{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}</span>
        </a>

        <div class="navbar-left">
            {% block sonata_breadcrumb %}
                <div class="hidden-xs">
                    {% if _breadcrumb is not empty or action is defined %}
                        <ol class="nav navbar-top-links breadcrumb">
                            {% if _breadcrumb is empty %}
                                {% if action is defined %}
                                    {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                        {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                        {%- set label = menu.label -%}
                                        {%- if translation_domain is not same as(false) -%}
                                            {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                        {%- endif -%}

                                        {% if not loop.last %}
                                            <li>
                                                {% if menu.uri is not empty %}
                                                    <a href="{{ menu.uri }}">
                                                        {% if menu.extra('safe_label', true) %}
                                                            {{- label|raw -}}
                                                        {% else %}
                                                            {{- label -}}
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    <span>{{ label }}</span>
                                                {% endif %}
                                            </li>
                                        {% else %}
                                            <li class="active"><span>{{ label }}</span></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ _breadcrumb|raw }}
                            {% endif %}
                        </ol>
                    {% endif %}
                </div>
            {% endblock sonata_breadcrumb %}
        </div>

        {% block sonata_top_nav_menu %}
            {% if app.user and is_granted(sonata_admin.adminPool.getOption('role_admin')) %}
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% block sonata_top_nav_menu_add_block %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                {% include get_global_template('add_block') %}
                            </li>
                        {% endblock %}
                        {% block sonata_top_nav_menu_user_block %}
                            <li class="dropdown user-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    {% include get_global_template('user_block') %}
                                </ul>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}

        <div class="navbar-right">
        {% block devaneando_user_area %}
        {% endblock %}
        <img src="{{ gravatar('edu.fernandes.pt@gmail.com') }}" />
        </div>
    </nav>
{% endblock sonata_nav %}
